@import url('https://fonts.googleapis.com/css2?family=Kapakana&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Kapakana", cursive;
  --font-body: "Courier New", monospace;
  --text-title: 10rem;

  --color-primary: hsl(220, 80%, 60%);
}

@layer base {
  body {
    font-family: var(--font-body);
  }
  h1, h2, h3 {
    font-family: var(--font-display);
  }
}